/Fontes/Core/__history/*.*
/Fontes/Core/DB/__history/*.*
/Fontes/Server/*__history*
/Projeto/*__history*
/Projeto/*Temp*
/Fontes/Core/DB/Interfaces/*__history*
/Fontes/Services/*__history*
/Fontes/Controllers/*__history*
/Fontes/Core/DB/*.bak
/Fontes/Core/DB/Interfaces/Core.DataBase.Interfaces.pas.bak
/Fontes/Core/DB/Core.DataBase.Access.pas.bak
/Fontes/Core/DB/Core.DataBase.Rtti.pas.bak
/Fontes/DTOs/*__history*
/Fontes/Entidades/*__history*
/Fontes/Core/Entidades/*__history*
